.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 5rem rgba($color-black, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 1;
    transition: all 0.3s;
    outline-offset: 1rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 3rem;
    }

    &--p3 {
      left: 15%;
      top: 12.5rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-2rem); // translateY will make the image go up
      box-shadow: 0 3.5rem 5rem rgba($color-black, 0.5);
      z-index: 2;
    }
  }

  // other image (not hover) will shrink when you hover one
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
